<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/person/" method="post">
        {% csrf_token %}
<!--        <input name="name" type="text">: name-->
<!--        <input type="submit">-->
        {{ person_form }}
        <input type="submit">
    </form>
<!--    <form action="/person/" method="get">-->
<!--        {% csrf_token %}-->
<!--        <input name="email" type="email">: email-->
<!--        <input type="submit">-->
<!--    </form>-->
    <ul>
        {% for profile in profiles %}
        <li>{{ profile.name }}</li>
        {% endfor %}
    </ul>
</body>
</html>